
.vs/ProjectEvaluation/com2usservercampus.projects.v6.1
.vs/ProjectEvaluation/com2usservercampus.metadata.v6.1
.vs/Com2usServerCampus/v17/.suo
.vs/Com2usServerCampus/FileContentIndex/fef428bc-b4d2-4a79-abc1-52fd15a71459.vsidx
.vs/Com2usServerCampus/FileContentIndex/c44cbe13-c0da-4cd3-8f9e-5a20bd5f5f73.vsidx
.vs/Com2usServerCampus/FileContentIndex/7d1903e7-247d-437c-84ad-2e85dfe04589.vsidx
.vs/Com2usServerCampus/FileContentIndex/68096754-938a-4f06-885f-2a2bde0a0669.vsidx
.vs/Com2usServerCampus/FileContentIndex/60212f61-f6d8-4908-a972-033deefe47ac.vsidx
.vs/Com2usServerCampus/FileContentIndex/5850757b-cafe-4893-9a29-87d3912a6fbd.vsidx
.vs/Com2usServerCampus/FileContentIndex/1589f273-51f8-46da-818d-7e856f52bf44.vsidx
.vs/Com2usServerCampus/FileContentIndex/06ab9a37-164b-476d-ab43-b12a69d34ee9.vsidx
.vs/Com2usServerCampus/DesignTimeBuild/.dtbcache.v2
.vs/Com2usServerCampus/DesignTimeBuild/.dtbcache.v2
.vs/Com2usServerCampus/FileContentIndex/1589f273-51f8-46da-818d-7e856f52bf44.vsidx
.vs/Com2usServerCampus/FileContentIndex/5850757b-cafe-4893-9a29-87d3912a6fbd.vsidx
.vs/Com2usServerCampus/FileContentIndex/60212f61-f6d8-4908-a972-033deefe47ac.vsidx
.vs/Com2usServerCampus/FileContentIndex/fef428bc-b4d2-4a79-abc1-52fd15a71459.vsidx
.vs/Com2usServerCampus/v17/.suo
.vs/ProjectEvaluation/com2usservercampus.metadata.v6.1
.vs/ProjectEvaluation/com2usservercampus.projects.v6.1
.vs/Com2usServerCampus/DesignTimeBuild/.dtbcache.v2
.vs/Com2usServerCampus/FileContentIndex/1589f273-51f8-46da-818d-7e856f52bf44.vsidx
.vs/Com2usServerCampus/FileContentIndex/5850757b-cafe-4893-9a29-87d3912a6fbd.vsidx
.vs/Com2usServerCampus/FileContentIndex/60212f61-f6d8-4908-a972-033deefe47ac.vsidx
.vs/Com2usServerCampus/FileContentIndex/757f810a-d71d-44a0-babd-2c11a2fedd01.vsidx
.vs/Com2usServerCampus/FileContentIndex/8e73f03e-0b63-4e57-b3c8-976f2e1d416e.vsidx
.vs/Com2usServerCampus/FileContentIndex/fef428bc-b4d2-4a79-abc1-52fd15a71459.vsidx
.vs/Com2usServerCampus/v17/.futdcache.v2
.vs/Com2usServerCampus/v17/.suo
.vs/ProjectEvaluation/com2usservercampus.metadata.v6.1
.vs/ProjectEvaluation/com2usservercampus.projects.v6.1
*.v2
.vs/Com2usServerCampus/DesignTimeBuild/.dtbcache.v2
.vs/Com2usServerCampus/FileContentIndex/1589f273-51f8-46da-818d-7e856f52bf44.vsidx
.vs/Com2usServerCampus/FileContentIndex/5850757b-cafe-4893-9a29-87d3912a6fbd.vsidx
.vs/Com2usServerCampus/FileContentIndex/60212f61-f6d8-4908-a972-033deefe47ac.vsidx
.vs/Com2usServerCampus/FileContentIndex/fef428bc-b4d2-4a79-abc1-52fd15a71459.vsidx
.vs/Com2usServerCampus/v17/.futdcache.v2
.vs/Com2usServerCampus/v17/.suo
.vs/ProjectEvaluation/com2usservercampus.metadata.v6.1
.vs/ProjectEvaluation/com2usservercampus.projects.v6.1
.vs/Com2usServerCampus/FileContentIndex/1589f273-51f8-46da-818d-7e856f52bf44.vsidx
.vs/Com2usServerCampus/FileContentIndex/5850757b-cafe-4893-9a29-87d3912a6fbd.vsidx
.vs/Com2usServerCampus/FileContentIndex/60212f61-f6d8-4908-a972-033deefe47ac.vsidx
.vs/Com2usServerCampus/FileContentIndex/69529314-f895-44c2-be5f-832a89b72494.vsidx
.vs/Com2usServerCampus/FileContentIndex/8edaad2c-895a-4540-9f5c-05193cd8797d.vsidx
.vs/Com2usServerCampus/FileContentIndex/9f929b1f-6d16-4f31-b244-a80284dd2de3.vsidx
.vs/Com2usServerCampus/FileContentIndex/b0a10898-8d58-48e6-a692-0c1bf624f878.vsidx
.vs/Com2usServerCampus/FileContentIndex/fef428bc-b4d2-4a79-abc1-52fd15a71459.vsidx
.vs/Com2usServerCampus/v17/.suo
bin/Debug/net7.0/appsettings.Development.json
bin/Debug/net7.0/appsettings.json
bin/Debug/net7.0/CloudStructures.dll
bin/Debug/net7.0/Com2usServerCampus.deps.json
bin/Debug/net7.0/Com2usServerCampus.dll
bin/Debug/net7.0/Com2usServerCampus.exe
bin/Debug/net7.0/Com2usServerCampus.pdb
bin/Debug/net7.0/Com2usServerCampus.runtimeconfig.json
bin/Debug/net7.0/Dapper.dll
bin/Debug/net7.0/Humanizer.dll
bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
bin/Debug/net7.0/Microsoft.OpenApi.dll
bin/Debug/net7.0/MySqlConnector.dll
bin/Debug/net7.0/Pipelines.Sockets.Unofficial.dll
bin/Debug/net7.0/SqlKata.dll
bin/Debug/net7.0/SqlKata.Execution.dll
bin/Debug/net7.0/StackExchange.Redis.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net7.0/ZLogger.dll
bin/Debug/net7.0/ZString.dll
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Com2usServerCampus.props
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Com2usServerCampus.props
obj/Debug/net7.0/staticwebassets/msbuild.build.Com2usServerCampus.props
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/refint/Com2usServerCampus.dll
obj/Debug/net7.0/ref/Com2usServerCampus.dll
obj/Debug/net7.0/Com2usServerCampus.pdb
obj/Debug/net7.0/Com2usServerCampus.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net7.0/Com2usServerCampus.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net7.0/Com2usServerCampus.genruntimeconfig.cache
obj/Debug/net7.0/Com2usServerCampus.dll
obj/Debug/net7.0/Com2usServerCampus.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Com2usServerCampus.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Com2usServerCampus.csproj.CopyComplete
obj/Debug/net7.0/Com2usServerCampus.csproj.BuildWithSkipAnalyzers
obj/Debug/net7.0/apphost.exe
log/2023-05-12_000.log
.vs/Com2usServerCampus/DesignTimeBuild/.dtbcache.v2
.vs/Com2usServerCampus/FileContentIndex/0e530f6c-6cd2-4143-855b-affdf04e3170.vsidx
.vs/Com2usServerCampus/FileContentIndex/1589f273-51f8-46da-818d-7e856f52bf44.vsidx
.vs/Com2usServerCampus/FileContentIndex/5850757b-cafe-4893-9a29-87d3912a6fbd.vsidx
.vs/Com2usServerCampus/FileContentIndex/60212f61-f6d8-4908-a972-033deefe47ac.vsidx
.vs/Com2usServerCampus/FileContentIndex/b36dbdaa-da05-435f-9081-1eca3d2b8ef0.vsidx
.vs/Com2usServerCampus/FileContentIndex/fef428bc-b4d2-4a79-abc1-52fd15a71459.vsidx
.vs/Com2usServerCampus/v17/.futdcache.v2
.vs/Com2usServerCampus/v17/.suo
.vs/ProjectEvaluation/com2usservercampus.metadata.v6.1
.vs/ProjectEvaluation/com2usservercampus.projects.v6.1
.vs/Com2usServerCampus/DesignTimeBuild/.dtbcache.v2
.vs/Com2usServerCampus/FileContentIndex/1589f273-51f8-46da-818d-7e856f52bf44.vsidx
.vs/Com2usServerCampus/FileContentIndex/5850757b-cafe-4893-9a29-87d3912a6fbd.vsidx
.vs/Com2usServerCampus/FileContentIndex/60212f61-f6d8-4908-a972-033deefe47ac.vsidx
.vs/Com2usServerCampus/FileContentIndex/fef428bc-b4d2-4a79-abc1-52fd15a71459.vsidx
.vs/Com2usServerCampus/v17/.futdcache.v2
.vs/Com2usServerCampus/v17/.suo
.vs/ProjectEvaluation/com2usservercampus.metadata.v6.1
.vs/ProjectEvaluation/com2usservercampus.projects.v6.1
*.vsidx
*.v2
